.newsletter{
    padding:80px 0;
    background:#0F766E;
}

.newsletter-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}

.newsletter-content{
    flex:1;
}

.newsletter-content h2{
    color:white;
    font-size:38px;
    margin-bottom:15px;
}

.newsletter-content p{
    color:#E5E7EB;
    line-height:1.8;
    max-width:600px;
}

.newsletter-form{
    display:flex;
    gap:15px;
    flex:1;
    justify-content:flex-end;
    flex-wrap:wrap;
}

.newsletter-form input{
    flex:1;
    min-width:260px;
    padding:16px 20px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

.newsletter-form button{
    padding:16px 28px;
    background:#F59E0B;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.newsletter-form button:hover{
    background:#D97706;
}

@media(max-width:768px){

    .newsletter-container{
        flex-direction:column;
        text-align:center;
    }

    .newsletter-form{
        width:100%;
        justify-content:center;
    }

    .newsletter-form input{
        width:100%;
    }

    .newsletter-form button{
        width:100%;
    }

}